script(src='/js/jquery-3.2.1.min.js')
script(src='/js/popper.js')
script(src='/js/bootstrap.min.js')
script(src='/js/stellar.js')
script(src='/vendors/lightbox/simpleLightbox.min.js')
script(src='/vendors/nice-select/js/jquery.nice-select.min.js')
script(src='/vendors/isotope/imagesloaded.pkgd.min.js')
script(src='/vendors/isotope/isotope-min.js')
script(src='/vendors/owl-carousel/owl.carousel.min.js')
script(src='/vendors/jquery-ui/jquery-ui.js')
script(src='/js/jquery.ajaxchimp.min.js')
script(src='/js/mail-script.js')
script(src='/js/theme.js')
script(src='/js/prism.js')
