header.header_area
    .main_menu
        nav.navbar.navbar-expand-lg.navbar-light
            .container.box_1620
                a.navbar-brand.logo_h(href='/')
                    span.logo_text #{ app.name }
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                #navbarSupportedContent.collapse.navbar-collapse.offset
                    include ../../src/plugins/main-navigation/views/main-navigation.pug

                    //- ul.nav.navbar-nav.navbar-right.header_social.ml-auto
                    //-     li.nav-item
                    //-         a(href='#')
                    //-             i.fa.fa-facebook
                    //-     li.nav-item
                    //-         a(href='#')
                    //-             i.fa.fa-twitter
                    //-     li.nav-item
                    //-         a(href='#')
                    //-             i.fa.fa-dribbble
                    //-     li.nav-item
                    //-         a(href='#')
                    //-             i.fa.fa-behance
    .logo_part
        .container
            a.logo(href='/')
                span.logo_text #{ app.name }
