nav.blog-pagination.justify-content-center.d-flex
    ul.pagination
        li.page-item
            a.page-link(href='#' aria-label='Previous')
                span(aria-hidden='true')
                    span.lnr.lnr-chevron-left
        li.page-item
            a.page-link(href='#') 01
        li.page-item.active
            a.page-link(href='#') 02
        li.page-item
            a.page-link(href='#') 03
        li.page-item
            a.page-link(href='#') 04
        li.page-item
            a.page-link(href='#') 09
        li.page-item
            a.page-link(href='#' aria-label='Next')
                span(aria-hidden='true')
                    span.lnr.lnr-chevron-right
