<!DOCTYPE html>
html(lang=app.lang)
    include ../partials/head

    body.line-numbers
        include ../partials/header

        block page-content

        include ../partials/footer

        include ../partials/footer-scripts
