aside.single-sidebar-widget.newsletter_widget
    h4.widget_title Newsletter
    .form-group.d-flex.flex-row
        .input-group
            input#inlineFormInputGroup.form-control(type='text' placeholder='Enter email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'")
        a.bbtns(href='#')
            i.lnr.lnr-arrow-right
