aside.single_sidebar_widget.search_widget
    .input-group
        input.form-control(type='text' placeholder='Search Posts')
        span.input-group-btn
            button.btn.btn-default(type='button')
                i.lnr.lnr-magnifier
