.col-lg-4
    .blog_right_sidebar
        if meta.authorData
            include sidebar-author

            .br

        include sidebar-popular-posts

        .br

        include sidebar-post-categories

        .br

        include tag-cloud
